body{
    background-color: #0C2C56;
    color:#005C5C;
}

.container{
     background-color: #005C5C;
     color: #C4CED4;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}